Repository biosimulations/biosimulations, pull requests merged in 2023-06, with the labels that each got.

#4691 fix: simulation profile page formatting improvements
  apps/account/project.json
  apps/api/project.json
  apps/api/src/projects/projects.controller.ts
  apps/api/src/projects/projects.service.ts
  apps/combine-api/project.json
  apps/dispatch-service/project.json
  apps/dispatch/project.json
  apps/mail-service/project.json
  apps/platform/project.json
  apps/platform/src/app/components/projects/project-table/project-table.component.html
  apps/platform/src/app/components/projects/view/view.component.html
  apps/platform/src/app/components/projects/view/view.component.scss
  apps/projex/project.json
  apps/simulators-api/project.json
  apps/simulators/project.json
  libs/auth/common/project.json
  libs/auth/nest/project.json
  libs/config/common/project.json
  libs/config/nest/project.json
  libs/datamodel/api/project.json
  libs/datamodel/common/project.json
  libs/datamodel/utils/project.json
  libs/shared/environments/project.json
  libs/shared/ui/src/lib/biosimulations-navigation/biosimulations-navigation.component.html
  libs/shared/ui/src/lib/biosimulations-navigation/biosimulations-navigation.component.scss
  libs/shared/ui/src/lib/carousel/carousel.component.ts
  libs/shared/ui/src/lib/text-page/text-page-section.component.scss
  libs/simulation-runs/ui/src/lib/metadata/metadata.component.html
  libs/simulation-runs/ui/src/lib/metadata/metadata.component.scss
  nx.json
Labels: BioSimulations, datamodel, runBiosimulations, ui, BioSimulations-API, simulation-service, build, BioSimulators-API, BioSimulators, BioSimulationsBrowse

#4693 fix: path for new summary_filtered and old summary api endpoints
  libs/api/angular-client/src/lib/project/project.service.ts
  libs/config/common/src/lib/endpoints.ts
Labels: bug, BioSimulations-API

#4695 fix: implementation of dev site fixes in patch
  apps/combine-api/poetry.lock
  apps/combine-api/pyproject.toml
  apps/combine-api/tests/run/test_run_run.py
  apps/platform/src/app/components/projects/project-table/project-table.component.html
  apps/platform/src/assets/config.json
  apps/projex/src/app/app.component.html
  apps/projex/src/app/components/projects/project-table/project-table.component.html
  apps/projex/src/app/components/projects/view/view.component.html
  apps/projex/src/app/components/projects/view/view.component.scss
  apps/projex/src/app/components/projects/view/view.component.ts
  apps/projex/src/assets/config.json
  libs/config/angular/src/lib/config/config.service.ts
  libs/shared/ui/src/lib/biosimulations-navigation/biosimulations-navigation.component.html
  libs/shared/ui/src/lib/topbar/topbar.component.html
  libs/simulation-runs/ui/src/lib/render-viz/render-viz.component.html
  libs/simulation-runs/viz/src/lib/plotly-visualization/plotly-visualization.component.html
  libs/simulation-runs/viz/src/lib/plotly-visualization/plotly-visualization.component.ts
  package-lock.json
  package.json
Labels: dependencies, BioSimulations, ui, BioSimulationsBrowse

#4699 fix: implement fixes for projex
  apps/projex/src/app/app.component.html
  apps/projex/src/app/components/projects/view/view.component.html
  apps/projex/src/app/components/projects/view/view.component.scss
  libs/shared/styles/src/lib/biosimulations-typography.scss
  libs/shared/ui/src/lib/topbar/topbar-menu-item.component.scss
  libs/simulation-runs/ui/src/lib/metadata/metadata.component.html
  libs/simulation-runs/ui/src/lib/metadata/metadata.component.scss
  libs/simulation-runs/ui/src/lib/metadata/metadata.component.ts
  libs/simulation-runs/viz/src/lib/plotly-visualization/plotly-visualization.component.ts
Labels: ui, BioSimulationsBrowse

#4700 fix: updating projex app to include corrections
  .github/workflows/buildLintTest.yml
  apps/combine-api/poetry.lock
  apps/combine-api/pyproject.toml
  apps/platform/src/app/components/home/featured/featured.component.scss
  apps/projex/project.json
  apps/projex/src/app/app.component.html
  apps/projex/src/app/components/projects/project-table/project-table.component.html
  apps/projex/src/app/components/projects/view/view.component.html
  apps/projex/src/app/components/projects/view/view.component.scss
  apps/projex/src/app/components/projects/view/view.component.ts
  libs/shared/ui/src/lib/biosimulations-navigation/biosimulations-navigation.component.html
  libs/shared/ui/src/lib/biosimulations-navigation/biosimulations-navigation.component.scss
  libs/shared/ui/src/lib/dropdown-menu-item/dropdown-menu-item.component.html
  libs/shared/ui/src/lib/dropdown-menu-item/dropdown-menu-item.component.scss
  libs/shared/ui/src/lib/home/home-teaser.component.scss
  libs/shared/ui/src/lib/hover-open-menu/hover-open-menu.component.html
  libs/shared/ui/src/lib/hover-open-menu/hover-open-menu.component.scss
  libs/shared/ui/src/lib/hover-open-menu/hover-open-menu.component.ts
  libs/shared/ui/src/lib/text-page/text-page-section.component.scss
  libs/shared/ui/src/lib/topbar/topbar-menu-item.component.html
  libs/shared/ui/src/lib/topbar/topbar-menu-item.component.scss
  libs/simulation-runs/ui/src/lib/files/files.component.html
  libs/simulation-runs/ui/src/lib/files/files.component.scss
  libs/simulation-runs/ui/src/lib/files/files.component.ts
  libs/simulation-runs/ui/src/lib/metadata/metadata.component.html
  libs/simulation-runs/ui/src/lib/metadata/metadata.component.scss
  package-lock.json
  package.json
Labels: dependencies, BioSimulations, CI/CD, ui, build, BioSimulationsBrowse

#4708 fix: projex app fixes
  apps/combine-api/poetry.lock
  apps/combine-api/project.json
  apps/projex/src/app/app.component.html
  apps/projex/src/app/components/home/featured/assets/images/8-GDkmmnXXpcdSBUJ.png
  apps/projex/src/app/components/home/featured/assets/images/Hotpot.png
  apps/projex/src/app/components/home/featured/assets/images/biosimdb-abstract-shopping.jpg
  apps/projex/src/app/components/home/featured/assets/images/biosimdb-abstract.png
  apps/projex/src/app/components/home/featured/assets/images/biosimdb-profile-example-screenshot.png
  apps/projex/src/app/components/home/featured/assets/images/community-illustration.png
  apps/projex/src/app/components/home/featured/assets/images/egf-tnfa-profile-image.jpeg
  apps/projex/src/app/components/home/featured/assets/images/runBioSimulations-impressionist.png
  apps/projex/src/app/components/home/featured/assets/images/runsims-abstract-concept.png
  apps/projex/src/app/components/home/featured/featured.component.html
  apps/projex/src/app/components/home/featured/featured.component.scss
  apps/projex/src/app/components/home/featured/featured.component.spec.ts
  apps/projex/src/app/components/home/featured/featured.component.ts
  apps/projex/src/app/components/home/featured/featured.model.ts
  apps/projex/src/app/components/home/featured/featured.service.ts
  apps/projex/src/app/components/home/home.component.html
  apps/projex/src/app/components/home/home.component.spec.ts
  apps/projex/src/app/components/projects/project-table/project-table.component.html
  apps/projex/src/app/components/projects/project-table/project-table.component.ts
  apps/projex/src/app/components/projects/view/view.component.html
  apps/projex/src/app/components/projects/view/view.component.scss
  apps/projex/src/app/components/projects/view/view.component.ts
  apps/projex/src/assets/config.json
  libs/datamodel/common/src/lib/core/algorithm.ts
  libs/datamodel/database/package.json
  libs/datamodel/database/tsconfig.lib.json
  libs/shared/ui/src/lib/dropdown-menu-item/dropdown-menu-item.component.html
  libs/shared/ui/src/lib/dropdown-menu-item/dropdown-menu-item.component.scss
  libs/shared/ui/src/lib/dropdown-menu-item/dropdown-menu-item.component.ts
  libs/shared/ui/src/lib/home/home-section.component.scss
  libs/shared/ui/src/lib/home/home-teaser.component.html
  libs/shared/ui/src/lib/hover-open-menu/hover-open-menu.component.html
  libs/shared/ui/src/lib/hover-open-menu/hover-open-menu.component.ts
  libs/shared/ui/src/lib/topbar/topbar-menu-item.component.ts
  libs/shared/ui/src/lib/topbar/topbar.component.html
  libs/shared/ui/src/lib/topbar/topbar.component.ts
  libs/simulation-runs/ui/src/lib/files/files.component.html
  libs/simulation-runs/ui/src/lib/files/files.component.scss
  libs/simulation-runs/ui/src/lib/files/files.component.ts
  libs/simulation-runs/ui/src/lib/metadata/metadata.component.html
  libs/simulation-runs/ui/src/lib/metadata/metadata.component.scss
  libs/simulation-runs/ui/src/lib/metadata/metadata.component.ts
  libs/simulation-runs/ui/src/lib/render-viz/render-viz.component.html
  libs/simulation-runs/ui/src/lib/render-viz/render-viz.component.ts
  libs/simulation-runs/viz/src/lib/vega-visualization/vega-visualization.component.ts
  nx.json
Labels: testing, dependencies, datamodel, ui, build, BioSimulationsBrowse

#4713 chore: update to biosimulators_utils 0.1.180 with new KISAO_0000694 term
  apps/combine-api/poetry.lock
  apps/combine-api/pyproject.toml
Labels: dependencies, ontologies, combine-api

#4714 feat: improved project sort order
  .github/workflows/deploy.yml
  apps/api/src/projects/projects.service.ts
  apps/combine-api/poetry.lock
  apps/combine-api/pyproject.toml
  docs/src/developers/setup/services.md
  libs/datamodel/common/src/lib/core/project-utils.ts
Labels: documentation, enhancement, BioSimulations, datamodel, CI/CD, BioSimulations-API

#4712 fix: projex ui and behavior fixes
  apps/combine-api/poetry.lock
  apps/combine-api/pyproject.toml
  apps/projex/src/app/components/home/featured/featured.component.scss
  apps/projex/src/app/components/home/featured/featured.service.ts
  apps/projex/src/app/components/projects/project-table/project-table.component.html
  apps/projex/src/app/components/projects/project-table/project-table.component.scss
  apps/projex/src/app/components/projects/projects-chips/projects-chips.component.html
  apps/projex/src/app/components/projects/projects-chips/projects-chips.component.scss
  apps/projex/src/app/components/projects/projects-chips/projects-chips.component.ts
  apps/projex/src/app/components/projects/view/view.component.html
  apps/projex/src/app/components/projects/view/view.component.scss
  apps/projex/src/app/components/projects/view/view.component.ts
  docs/poetry.lock
  libs/datamodel/common/src/lib/core/project-utils.ts
  libs/shared/ui/src/lib/notice/notice.component.scss
  libs/simulation-runs/ui/src/lib/files/files.component.html
  libs/simulation-runs/ui/src/lib/files/files.component.scss
  libs/simulation-runs/ui/src/lib/files/files.component.ts
  libs/simulation-runs/ui/src/lib/metadata/metadata.component.html
Labels: documentation, dependencies, datamodel, ui, BioSimulationsBrowse

#4718 fix: remaining items on projex app
  apps/projex/src/app/components/projects/view/view.component.html
  apps/projex/src/app/components/projects/view/view.component.scss
  apps/projex/src/app/components/projects/view/view.component.ts
  apps/projex/src/app/components/simulations/view/simulation-log/simulation-log.component.scss
  libs/shared/ui/src/lib/carousel/carousel.component.html
  libs/shared/ui/src/lib/carousel/carousel.component.scss
  libs/shared/ui/src/lib/carousel/carousel.component.ts
  libs/simulation-runs/ui/src/lib/files/files.component.html
  libs/simulation-runs/ui/src/lib/files/files.component.scss
  libs/simulation-runs/ui/src/lib/metadata/metadata.component.html
  libs/simulation-runs/ui/src/lib/metadata/metadata.component.scss
  libs/simulation-runs/ui/src/lib/metadata/metadata.component.ts
Labels: ui, BioSimulationsBrowse

#4719 fix: project list pagination with filtering showed no projects
  apps/api/src/projects/projects.service.ts
Labels: bug, BioSimulations-API

#4720 feat(ui/routing): enhance UI and improve external routing handling
  apps/projex/src/app/components/projects/view/view.component.html
  apps/projex/src/app/components/projects/view/view.component.scss
  apps/projex/src/app/components/projects/view/view.component.ts
Labels: ui, BioSimulationsBrowse

#4721 feat: added routing logic to featured component on home teaser
  apps/platform/src/app/app.component.html
  apps/platform/src/app/components/home/featured/featured.component.html
  apps/platform/src/app/components/home/featured/featured.component.scss
  apps/platform/src/app/components/home/featured/featured.component.spec.ts
  apps/platform/src/app/components/home/featured/featured.component.ts
  apps/platform/src/app/components/home/featured/featured.model.ts
  apps/platform/src/app/components/home/featured/featured.service.ts
  apps/platform/src/app/components/home/home.component.html
  apps/platform/src/app/components/home/home.component.spec.ts
Labels: testing, BioSimulations, ui, BioSimulationsBrowse
