Repository biosimulations/biosimulations, pull requests merged in 2023-05, with the labels that each got.

#4675 feat: server side filtering of project table
  .run/api.run.xml
  .run/api_serve.run.xml
  apps/account/.eslintrc
  apps/account/project.json
  apps/account/src/app/registration/registration.component.ts
  apps/api/src/projects/projects.controller.ts
  apps/api/src/projects/projects.filter.spec.ts
  apps/api/src/projects/projects.filter.ts
  apps/api/src/projects/projects.mock.ts
  apps/api/src/projects/projects.search.spec.ts
  apps/api/src/projects/projects.search.ts
  apps/api/src/projects/projects.service.ts
  apps/dispatch/project.json
  apps/platform/project.json
  apps/platform/src/app/components/projects/project-table/browse.model.ts
  apps/platform/src/app/components/projects/project-table/browse.service.ts
  apps/platform/src/app/components/projects/project-table/project-table.component.html
  apps/platform/src/app/components/projects/project-table/project-table.component.scss
  apps/platform/src/app/components/projects/project-table/project-table.component.spec.ts
  apps/platform/src/app/components/projects/project-table/project-table.component.ts
  apps/platform/src/app/components/projects/projects-chips/projects-chips.component.html
  apps/platform/src/app/components/projects/projects-chips/projects-chips.component.scss
  apps/platform/src/app/components/projects/projects-chips/projects-chips.component.spec.ts
  apps/platform/src/app/components/projects/projects-chips/projects-chips.component.ts
  apps/platform/src/app/components/projects/projects.module.ts
  apps/simulators/project.json
  libs/api/angular-client/src/lib/project/project.service.ts
  libs/datamodel/api/src/lib/core/project.ts
  libs/datamodel/common/src/lib/core/project.ts
  libs/shared/styles/src/lib/_global.scss
  libs/shared/ui/src/lib/material-wrapper.module.ts
  libs/shared/ui/src/lib/table/table-controls.component.scss
  package-lock.json
  package.json
  tsconfig.base.json
Labels: testing, dependencies, BioSimulations, datamodel, runBiosimulations, ui, BioSimulations-API, build, BioSimulators

#4677 fix: disable nx caching to fix nondeterminism in github actions
  .env.dev
  .env.prod
Labels: bug, dev, build

#4678 fix: env NX_SKIP_NX_CACHE in all actions to var NX_SKIP_NX_CACHE_VALUE
  .env.dev
  .env.prod
  .github/workflows/assignToProject.yml
  .github/workflows/buildLintTest.yml
  .github/workflows/buildSitemaps.yml
  .github/workflows/cancel-pr-close.yml
  .github/workflows/cancel.yml
  .github/workflows/cd.yml
  .github/workflows/checkExampleSimulationRunsSucceeded.yml
  .github/workflows/ci.yml
  .github/workflows/closeStaleTodos.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/dependencyLicense.yml
  .github/workflows/deploy.yml
  .github/workflows/docker.yml
  .github/workflows/docs.yml
  .github/workflows/format.yml
  .github/workflows/generateCombineApiClient.yml
  .github/workflows/monitor-todos.yml
  .github/workflows/ossar-analysis.yml
  .github/workflows/release.yml
  .github/workflows/semantic-commits.yml
  .github/workflows/spelling.yml
  .github/workflows/testSimulationsWorking.yaml
  .github/workflows/updateLicenseYear.yml
  .github/workflows/updateOntologies.yml
  .github/workflows/validateOpenApiSpecs.yml
Labels: bug, CI/CD, build

#4681 fix(ui): Simulation page layout
  apps/platform/project.json
  apps/platform/src/app/app.component.html
  apps/platform/src/app/app.component.ts
  apps/platform/src/app/components/home/featured/featured.component.html
  apps/platform/src/app/components/home/featured/featured.component.scss
  apps/platform/src/app/components/home/featured/featured.component.ts
  apps/platform/src/app/components/home/featured/featured.service.ts
  apps/platform/src/app/components/home/home.component.html
  apps/platform/src/app/components/projects/view/view.component.html
  apps/platform/src/app/components/projects/view/view.component.scss
  apps/platform/src/app/components/projects/view/view.component.ts
  docs/src/CNAME
  libs/shared/ui/src/lib/hover-open-menu/hover-open-menu.component.html
  libs/shared/ui/src/lib/hover-open-menu/hover-open-menu.component.scss
  libs/shared/ui/src/lib/hover-open-menu/hover-open-menu.component.ts
  libs/shared/ui/src/lib/text-page/text-page-content-section.component.scss
  libs/shared/ui/src/lib/text-page/text-page-section.component.scss
  libs/shared/ui/src/lib/topbar/topbar-menu-item.component.html
  libs/shared/ui/src/lib/topbar/topbar-menu.component.scss
  libs/shared/ui/src/lib/topbar/topbar.component.html
  libs/simulation-runs/ui/src/lib/metadata-dialog/metadata-dialog.component.spec.ts
  libs/simulation-runs/ui/src/lib/metadata/metadata.component.html
  libs/simulation-runs/ui/src/lib/metadata/metadata.component.scss
  libs/simulation-runs/ui/src/lib/metadata/metadata.component.spec.ts
  libs/simulation-runs/ui/src/lib/render-viz/render-viz.component.scss
Labels: documentation, testing, BioSimulations, ui, build

#4682 style(ui): adjusted profile layout
  apps/platform/src/app/app.component.html
  apps/platform/src/app/components/projects/view/view.component.html
  apps/platform/src/app/components/projects/view/view.component.scss
  apps/platform/src/app/components/projects/view/view.component.ts
  apps/simulators/src/app/simulators/simulators-routing.module.ts
  apps/simulators/src/app/simulators/view-simulator/view-simulator.component.html
  libs/shared/ui/src/lib/material-wrapper.module.ts
  libs/shared/ui/src/lib/topbar/topbar-menu-item.component.html
  libs/simulation-project-utils/simulation-project-utils/src/lib/ui/create-project/create-project/create-project-data-source.ts
  libs/simulation-project-utils/simulation-project-utils/src/lib/ui/create-project/form-steps/upload-model.component.ts
  libs/simulation-runs/ui/src/lib/metadata/metadata.component.html
  libs/simulation-runs/ui/src/lib/metadata/metadata.component.scss
  libs/simulation-runs/ui/src/lib/render-viz/render-viz.component.scss
  libs/simulation-runs/viz/src/lib/plotly-visualization/plotly-visualization.component.ts
Labels: BioSimulations, ui, BioSimulators

#4683 style(ui): adjusted figure headers
  apps/api/src/projects/projects.filter.spec.ts
  apps/api/src/projects/projects.filter.ts
  apps/platform/src/app/app.component.html
  apps/platform/src/app/components/projects/view/view.component.html
  apps/platform/src/app/components/projects/view/view.component.scss
  apps/platform/src/app/components/projects/view/view.component.ts
  libs/datamodel/common/src/lib/core/index.ts
  libs/datamodel/common/src/lib/core/project-utils.ts
  libs/shared/ui/src/lib/hover-open-menu/hover-open-menu.component.html
  libs/shared/ui/src/lib/hover-open-menu/hover-open-menu.component.scss
  libs/shared/ui/src/lib/text-page/text-page-content-section.component.scss
  libs/shared/ui/src/lib/topbar/topbar-menu.component.scss
  libs/simulation-runs/ui/src/lib/metadata/metadata.component.html
  libs/simulation-runs/ui/src/lib/metadata/metadata.component.scss
  libs/simulation-runs/ui/src/lib/metadata/metadata.component.ts
  libs/simulation-runs/ui/src/lib/render-viz/render-viz.component.scss
  libs/simulation-runs/viz/src/lib/plotly-visualization/plotly-visualization.component.ts
Labels: testing, BioSimulations, datamodel, ui, BioSimulations-API

#4684 style(ui): adjusted create-project-breadcrumb button layout
  apps/platform/src/app/app.component.html
  apps/platform/src/app/app.component.scss
  apps/platform/src/app/components/home/featured/featured.component.html
  apps/platform/src/app/components/home/featured/featured.service.ts
  apps/platform/src/app/components/projects/view/view.component.html
  apps/platform/src/app/components/projects/view/view.component.scss
  apps/simulators/src/app/app.component.html
  apps/simulators/src/app/home/home.component.html
  libs/shared/ui/src/lib/bread-crumbs/bread-crumbs-button/bread-crumbs-button.component.html
  libs/shared/ui/src/lib/bread-crumbs/bread-crumbs-button/bread-crumbs-button.component.scss
  libs/shared/ui/src/lib/bread-crumbs/bread-crumbs-buttons/bread-crumbs-buttons.component.html
  libs/shared/ui/src/lib/bread-crumbs/bread-crumbs-buttons/bread-crumbs-buttons.component.scss
  libs/shared/ui/src/lib/bread-crumbs/bread-crumbs-position/bread-crumbs-position.component.scss
  libs/shared/ui/src/lib/bread-crumbs/bread-crumbs.component.html
  libs/shared/ui/src/lib/bread-crumbs/bread-crumbs.component.scss
  libs/shared/ui/src/lib/text-page/text-page-section.component.scss
  libs/simulation-project-utils/simulation-project-utils/src/lib/ui/create-project/create-project/create-project.component.html
  libs/simulation-runs/ui/src/lib/metadata/metadata.component.html
  libs/simulation-runs/ui/src/lib/metadata/metadata.component.scss
Labels: BioSimulations, ui, BioSimulators

#4685 fix: sytling for project detail view with citations in Simulation Summary
  libs/datamodel/common/src/lib/core/project-utils.ts
  libs/simulation-runs/ui/src/lib/metadata/metadata.component.html
  libs/simulation-runs/ui/src/lib/metadata/metadata.component.ts
  libs/simulation-runs/viz/src/lib/plotly-visualization/plotly-visualization.component.ts
Labels: datamodel, ui

#4687 fix: ui adjustments and linking out to prod site
  apps/platform/src/app/app.component.html
  apps/platform/src/app/components/home/featured/featured.component.html
  apps/platform/src/app/components/home/featured/featured.service.ts
  apps/platform/src/app/components/home/home.component.html
  apps/platform/src/app/components/projects/project-table/project-table.component.html
  apps/platform/src/app/components/projects/project-table/project-table.component.scss
  apps/platform/src/app/components/projects/project-table/project-table.component.ts
  apps/platform/src/app/components/projects/view/view.component.html
  apps/platform/src/app/components/projects/view/view.component.scss
  apps/platform/src/assets/config.json
  apps/simulators/src/app/app.component.html
  libs/config/angular/src/lib/config/config.service.ts
  libs/shared/ui/src/lib/biosimulations-navigation/biosimulations-navigation.component.html
  libs/shared/ui/src/lib/biosimulations-navigation/biosimulations-navigation.component.scss
  libs/shared/ui/src/lib/table/responsive-table.component.scss
  libs/shared/ui/src/lib/table/table.component.html
  libs/shared/ui/src/lib/table/table.component.scss
  libs/shared/ui/src/lib/topbar/topbar-menu-item.component.html
  libs/shared/ui/src/lib/topbar/topbar-menu-item.component.scss
  libs/shared/ui/src/lib/topbar/topbar-menu.component.scss
  libs/shared/ui/src/lib/topbar/topbar.component.html
  libs/simulation-runs/ui/src/lib/metadata/metadata.component.html
  libs/simulation-runs/ui/src/lib/metadata/metadata.component.scss
Labels: BioSimulations, ui, BioSimulators
