Repository biosimulations/biosimulations, pull requests merged in 2024-01, with the labels that each got.

#4787 fix: more informative slurm script and always upload final rawLog.txt
  apps/dispatch-service/src/app/services/sbatch/expected_sbatch.ts
  apps/dispatch-service/src/app/services/sbatch/sbatch.service.spec.ts
  apps/dispatch-service/src/app/services/sbatch/sbatch.service.ts
Labels: testing, simulation-service

#4789 fix: missing space in bash script
  apps/dispatch-service/src/app/services/sbatch/expected_sbatch.ts
  apps/dispatch-service/src/app/services/sbatch/sbatch.service.ts
Labels: simulation-service

#4790 fix: job status is now tolerant of Slurm Job HSDS upload retries
  apps/dispatch-service/src/app/services/hpc/hpc.service.ts
Labels: simulation-service

#4786 fix: updated structured log to include more extensive message
  apps/dispatch-service/src/app/services/hpc/hpc.service.ts
  apps/dispatch-service/src/app/services/ssh/ssh.service.ts
  apps/dispatch-service/src/app/submission/complete.processor.ts
  apps/dispatch-service/src/app/submission/process.processor.ts
  apps/dispatch/src/app/components/simulations/view/view.component.scss
  libs/simulation-runs/ui/src/lib/metadata/metadata.component.scss
Labels: runBiosimulations, ui, simulation-service

#4794 fix: simdata-api deployment
  apps/api/src/health/health.controller.ts
  libs/config/common/src/lib/endpointLoader.ts
  libs/config/common/src/lib/endpoints.spec.ts
  package-lock.json
  package.json
Labels: bug, testing, dependencies, BioSimulations-API

#4795 fix: disable broken UpdateSitemaps step of Continuous integration
  .github/workflows/cd.yml
Labels: CI/CD

#4796 fix: disable updatesitemaps again
  .github/workflows/cd.yml
Labels: CI/CD

#4797 fix: add CORS support for simdata-api
  apps/simdata-api/Dockerfile
  apps/simdata-api/simdata_api/main.py
Labels: docker

#4799 fix: correct usage of NdArray in results.service
  apps/api/src/results/results.service.ts
Labels: BioSimulations-API

#4800 fix: use async DynamicModule with config to initialize simdata-api path
  apps/api/src/main.ts
  libs/simdata-api/nest-client-wrapper/src/lib/simdata-api-nest-client-wrapper.module.ts
Labels: BioSimulations-API
